<!-- page -->
<div class="square-box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="page login-img">
    <!-- main-signin-wrapper -->
    <div class="">
        <div class="my-auto page page-h">
            <div class="main-signin-wrapper">
                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8">
                    <div class="text-center mb-3">
                        <img src="./assets/img/brand/logo-white.png" class="h-8" alt="" />
                    </div>
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="main-signin-header">
                                <h2>Reset Password!</h2>
                                <form (ngSubmit)="resetPassword()" #passwordResetForm="ngForm">
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input class="form-control" placeholder="Enter your new password"
                                            type="password" name="newPassword" [(ngModel)]="newPassword" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Confirme Password</label>
                                        <input class="form-control" placeholder="Confirm your new password"
                                            type="password" name="confirmPassword" [(ngModel)]="confirmPassword"
                                            required />
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                                </form>
                            </div>
                            <div class="main-signup-footer mg-t-10">
                                <p>
                                    Forget it, <a routerLink="/holder/login"> Send me back</a> to the sign
                                    in screen.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page closed -->