<app-header></app-header>

<div class="page-main">
  <!-- //sidebar -->
  <app-grid [title]='title' [item]="item" [active_item]="active_item"></app-grid>

  <app-sidebar appHoverEffectSidebar></app-sidebar>
  <div class="main-content main-content-casa app-content">
    <div class="main-container container-fluid modules-content add__res"
      style="padding-inline-start: 170px !important;">
      <!-- // contetnt  -->
      <div class='ajt__residence'>

        <div class="main-block">
          <form (ngSubmit)="addResidence()">
            <h1>Créer une residence</h1>
            <fieldset>
              <div class="account-details">
                <div class='input__field'><label>nom de residence*</label><input type="text"
                    [(ngModel)]="residence_name" name="residence_name" id='residence_name' required></div>
                <div class='input__field'><label>nombre de lots*</label><input type="text" [(ngModel)]="nbr_lots"
                    name="nbr_lots" id='nbr_lots' required></div>
                <div class='input__field'><label>adresse 1*</label><input type="text" [(ngModel)]="adresse1"
                    name="adresse1" id='adresse1' required></div>
                <div class='input__field'><label>adresse *</label><input type="text" [(ngModel)]="adresse2"
                    name="adresse2" id='adresse2' required></div>
                <div class='input__field'><label>villee *</label><input type="text" [(ngModel)]="city_name"
                    name="city_name" id='city_name' required></div>
              </div>
            </fieldset>
            <button type="submit" href="/">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>